.subTrigger{
    padding-left: 2rem;
}
.subTrigger:hover{
    text-decoration: none;
    cursor: pointer;
}

.subTrigger svg {
    height: 30px;
    width: 30px;
}
.accordionSubtitle{
    font-size: 21px;
    line-height: 25px;
    font-weight: 600;
}

.content{
    padding-left: 3rem ;
}

.item{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}