.sectionStep{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: 1727px;
    justify-content: flex-start;
    overflow: visible;
    padding: 64px 0;
    position: relative;
    width: 100%;
}

.sectionTitle{
    background-color: #fff;
    flex: none;
    height: 269px;
    overflow: visible;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
   
}

.steplist{
    width: 100%;
}

.questioTitle{

    text-align: center;
    font-family: var(--font-primary) !important;
    font-weight: 700 !important;
    line-height: 60px;
    font-size: 50px;
}
.ul{
    width: 100%;

}

@media  (max-width: 767px){

    .sectionTitle{
        padding: 20px 20px;
    }

}

@media (min-width: 768px) and (min-width: 1024px){
    .sectionTitle {
        padding: 40px 0;
        height: auto;
    }

    .mainStep {
        padding: 30px 50px;
        width: 100%;
    }

    .stepContainer {
        padding: 15px;
    }

    .stepId {
        font-size: 30px;
        padding: 10px 30px;
    }

    .StepTitle {
        font-size: 38px;
    }

    .mainText {
        font-size: 20px;
        line-height: 26px;
    }

    .titleDescription {
        font-size: 22px;
    }

    .subText {
        font-size: 18px;
        line-height: 22px;
    }

    .withTitle {
        font-size: 28px;
    }

}









