.stepOne{
    background-color: var(--third-color);
}

.stepOne .stepIdName{
    color: var(--third-color) !important;
}
.stepTwo{
    background-color: var(--secoundary-color);
}

.stepTwo .stepIdName{
    color: var(--secoundary-color) !important;
}


.stepThree{
    background-color: var(--primary-color);
    
}
.stepThree .stepIdName{
    color: var(--primary-color) !important;
}

.Link {
    text-decoration: underline;
    color: red;
    }


.Link:hover {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
}


.mainStep{
    align-content: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 5rem 5rem;
    position: relative;
    width: 100vw;
}

.stepContainer{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 14px;
    justify-content: center;
    overflow: visible;
    padding: 0 5rem;
    position: relative;
}

.stepId{
    align-content: center;
    align-items: center;
    background-color: #2f2f2f;
    border-radius: 30px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 10px 32px;
    position: relative;
    font-size: 2.3rem;
    color: var(--primary-color);
    font-weight: 700;
    width: fit-content;
    margin-bottom: 1rem;
}

.StepTitle{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
   
    margin-bottom: 1.5rem;
}

.mainText{
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 48px !important;
    text-align: center;
    
    margin-bottom: 1.3rem
}

.titleDescription{
    line-height: 48px !important;
    
    font-size: 1.8rem!important;
}

.subText{
    font-size: 1.7rem !important;
    line-height: 2.2rem;
    text-align: center;
  
}

.withTitle{
    font-size: 30px;
}

.link{
    text-decoration: underline;
    color: var(--primary-color);;
}

.link:hover{
   color: #0088ff;
}

@media screen and (max-width: 480px) {
    

    .mainStep{
        display: flex;
        align-content: flex-start;
        padding: 3rem 2rem;
        width: 100%;
    }

    .stepContainer{
        padding: 3px;
    }
    
    .StepTitle{
        text-align: center;
        
    }

    .stepId{
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .StepTitle{
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    .subText{
        font-size: 0.8rem !important;
        line-height: 23px;
        margin:  0rem 2.3rem;
        
    }

    .mainText{
        font-size: 0.9rem;
        margin-bottom: 8px !important;
        margin: 0rem 1rem;
        line-height: 23px !important;
    }

    
    .titleDescription{
        line-height: 23px !important;
        
        font-size: 0.8rem !important;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .mainStep{
        display: flex;
        align-content: flex-start;
        padding: 3rem 2rem !important;
    }

    .stepContainer{
        padding: 0.7rem;
    }

    .StepTitle{
        text-align: center;
        
    }

    .stepId{
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }

    .StepTitle{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .mainText{
        font-size: 1.2rem;
        margin-bottom: 1.1rem !important;
        margin: 0rem 1rem;
        
    }

    .subText{
        font-size: 1rem !important;
        margin:  0.6rem 2.3rem;
    }

    .titleDescription{
        line-height: 25px!important;
        font-family: var(--font-primary);
        font-size: 1.1rem !important;
    }

}

@media (min-width: 769px) and (max-width: 1279px) {
    .mainStep{
        display: flex;
        align-content: flex-start;
        padding: 3rem 3rem !important;
        width: 100vw;
    }

    .stepContainer{
        padding: 1rem;
    }

    .StepTitle{
        text-align: center;
    }

    .stepId{
    
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }

    .StepTitle{
        font-size: 1.9rem;
        margin-bottom: 1.5rem;
    }

    .mainText{
        font-size: 1.4rem;
        margin-bottom: 1.1rem !important;
        margin: 0rem 1rem;
    }

    .subText{
        font-size: 1.2rem !important;
        margin:  0.6rem 2.3rem;
    }

    .titleDescription{
        line-height: 30px !important;
        font-family: var(--font-primary);
        font-size: 1.3rem !important;
    }
}








 