.sectionStep{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: 1727px;
    justify-content: flex-start;
    overflow: visible;
    padding: 64px 0;
    position: relative;
    width: 1442px;
}

.sectionTitle{
    background-color: #fff;
    flex: none;
    height: 269px;
    overflow: visible;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.questioTitle{

    text-align: center;
    font-family: var(--font-primary) !important;
    font-weight: 700 !important;
    line-height: 60px;
    font-size: 50px;
}


