@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(150px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.slideUp {
  animation: slideUp ease-in-out forwards ;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
  animation-delay: 3s;
}

@media only screen and (max-width:800px){
  .cardComponent{
    width: 305px;
    padding: 46px 15px;
  }
  .fontSizeS{
    font-size: 14px;
  }
}