.sectionContainer {
    padding: 2rem 0;
}

.sectionContainer h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 2rem 0 ;
    /* border: 1px red solid; */
}

.cardSectionContainer{
    /* border: 1px red solid; */
    padding: 2rem;
}

.cardList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.viewPlansBtn{
    border: 2px var(--primary-color) solid;
    border-radius: 7px;
    padding: 0.5rem 4rem;
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;
}

.viewPlansBtn:hover{
    background-color: #ffe08b;
}