.gridTemplate{
  grid-template-areas: 
  "img1 text img2"
  "img1 text img2"
  "img1 btn img2"
  ;
}

@media only screen and (max-width:950px){
  .gridTemplate{
    justify-content: center;
    gap: 1rem;
    grid-template-areas: 
    "text text"
    "text text"
    "img1 img2"
    "btn btn"
    ;
  }
  .btnSize{
    width: 100%;
  }
}

@media only screen and (max-width:600px){
  .titleFontSize{
    font-size: 24px;
  }
  .btnSize{
    width: 80%;
  }
}

@media only screen and (max-width:425px){
  .titleFontSize{
    font-size: 16px;
  }
  .subtitleFontsize{
    font-size: 12px;
  }
  .btnSize{
    width: 80%;
  }
}

/* Button animation */

.btnSize {
  border: 4px solid var(--primary-color) !important;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.btnSize::after {
    background-color: black;
    border-radius: 5px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.btnSize:hover::after {
    transform: translate(0, 0);
}

.btnSize:hover {
    border: 4px solid transparent;
    color: var(--primary-color) !important;
    transform: scale(1.05);
    will-change: transform;
}

/* Button animation */


