.hereToHelp {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "img info";
    height: auto;
    line-height: 1.2;
    padding: 2rem 0;
}

.hereToHelp h3 {
    font-weight: 700;
    font-size: 2.1rem;
}

.hereToHelp p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 3rem 0;
}

.imageSide {
    grid: img;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.imageSide img {
    width: 100%;
    max-width: 20rem;
}

.infoSide {
    grid: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 6rem;
    color: var(--text-primary-color);
    margin: 5rem 0;
}

.button {
    background-color: var(--foreground);
    color: var(--third-color);
    max-width: 17rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-weight: 700;
}

/* Button Animation */

.button {
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.button::after {
    background-color: var(--primary-color);
    border-radius: 8px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.button:hover::after {
    transform: translate(0, 0);
}

.button:hover {
    border: 2px solid transparent;
    color: black;
    transform: scale(1.05);
    will-change: transform;
}

/* Button Animation */

.buttonMobile {
    display: none;
    background-color: var(--foreground);
    color: var(--third-color);
    padding: 0.8rem;
    /* display: flex; */
    justify-content: center;
    border-radius: 8px;
    font-weight: 700;
}

.quote1, .quote2 {
    display: none;
}

@media (min-width: 810px) and (max-width: 1000px) {
    .changingTitle  {
        font-size: 1.7rem !important;
        font-weight: 500 !important;
    }

    .hereToHelp p {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .infoSide {
        margin: 3rem 0;
    }
}

@media (max-width: 809px) {
    .hereToHelp{
        display: flex;
        flex-direction: column;
    }

    .imageSide {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageSide img {
        width: 75%;
        margin-bottom: 2rem;
    }

    .infoSide {
        order: 1;
        align-items: center;
        padding: 0 4rem;
        text-align: center;
        margin: 1.5rem 0;
    }

    .hereToHelp h3 {
        margin-bottom: 2rem;
    }

    .hereToHelp p {
        margin: 1rem 0;
    }

    .changingTitle  {
        font-size: 1.7rem !important;
        font-weight: 500 !important;
    }

    .button {
        display: none;
    }

    .buttonMobile {
        display: flex;
        width: 80% !important;
        padding: 1rem 2.1rem !important;
    }

    .quote1, .quote2 {
        display: block;
        width: 2rem;
    }
}