.slideUp {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
}

.slideUp.active {
  opacity: 1; 
  transform: translateY(0); 
}

@media only screen and (max-width:800px){
  .titleFont{
    font-size: 20px;
  }
  .subTitleFont{
    font-size: 18px;
  }
}