/* Estilos personalizados para el calendario */
.react-datepicker {
  font-family: 'Inter', sans-serif;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.react-datepicker__header {
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-top: 0.75rem;
}

.react-datepicker__month {
  margin: 0.4rem;
  padding: 0.2rem;
}

.react-datepicker__day-name, .react-datepicker__day {
  width: 2rem;
  line-height: 2rem;
  margin: 0.2rem;
}

.react-datepicker__day--selected {
  background-color: #3b82f6 !important;
  border-radius: 50%;
  font-weight: bold;
  color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #dbeafe;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #dbeafe;
  border-radius: 50%;
}

.react-datepicker__day--disabled {
  color: #d1d5db;
}

.react-datepicker__navigation {
  top: 0.75rem;
}

.react-datepicker__navigation--previous {
  left: 1rem;
}

.react-datepicker__navigation--next {
  right: 1rem;
}

.react-datepicker__current-month {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.react-datepicker__day--outside-month {
  color: #9ca3af;
}

/* Estilos para el contenedor del calendario */
.calendar-container {
  /* background-color: white;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para los días de la semana */
.react-datepicker__day-name {
  color: #6b7280;
  font-weight: 600;
}

/* Estilo para el día de hoy */
.react-datepicker__day--today {
  font-weight: bold;
  border: 1px solid #3b82f6;
  color: #3b82f6;
}
