.header{
    background-color: rgb(20, 18, 12);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    opacity: 1;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(20, 18, 12);
    overflow-y: auto;
}

.navbarSection{
    display:flex;
    flex-direction: row;
    margin-left: 91px ;
    margin-right: 91px ;
    height: 126px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    border-radius: inherit;
    object-fit: cover;
    align-items: center;
}

.logoImg{
    border-radius: inherit;
    object-position: center center !important;
    object-fit: cover;
    width: 166px !important;
    height: 84px !important;
}

.navLinks {
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    gap: 48px;
    justify-content: flex-start;
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.singleNavLink:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.active{
    font-weight: 800;
}

.mobileMenuButton {
    display: none;
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white
}

.overlay {
    display: none;
}

@media (max-width: 1024px) {
    .navLinks {
        display: none;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        background-color: rgb(20, 18, 12);
        padding: 20px;
        z-index: 999;
    }

    .navLinks.open {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobileMenuButton {
        display: block;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }
}
