.header {
  background-color: rgb(20, 18, 12);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 0.5s ease 0s;
  margin-top: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(20, 18, 12);
}

.navbarSection {
  display: flex;
  flex-direction: row;
  margin: 0 2.5rem;
  padding: 3rem 0;
  height: 8rem;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  border-radius: inherit;
  object-fit: cover;
  align-items: center;
}

.logoImg {
  border-radius: inherit;
  object-position: center center !important;
  object-fit: cover;
  width: 166px !important;
  height: 84px !important;
  object-fit: cover;
  image-rendering: auto;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 48px;
  justify-content: flex-start;
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 20px;
} 

.singleNavLink:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  font-weight: 800;
}

.mobileMenuButton {
  display: none;
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);;
}

.bookingLink{
    width: 8rem;
    background-color: var(--primary-color);
    border-radius: 1.3rem;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
}


@media screen and (max-width: 480px){
    .navLinks {
        display: flex;
        align-items: flex-start;
        display: none;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        background-color: rgb(20, 18, 12);
        padding: 20px;
        z-index: 999;
    }
    .bookingLink{
        margin-left: 20px;
    }

    .navLinks.open {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .singleNavLink{
        margin-left: 20px;
    }

    .navbarSection{
       
        margin-left: 40px;
        margin-right: 40px;
    }

    .mobileMenuButton {
        display: block;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }

    .logoImg{
        width: 8rem !important;
        height: 4rem !important;
    }
    
} 


@media screen and (min-width: 481px) and (max-width: 768px) {
    .navLinks {
        display: flex;
        align-items: flex-start;
        display: none;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        background-color: rgb(20, 18, 12);
        padding: 20px;
        z-index: 999;
    }
    .bookingLink{
        margin-left: 20px;
    }

    .navLinks.open {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .singleNavLink{
        margin-left: 70px;
    }

    .navbarSection{
        margin-left: 91px;
        margin-right: 91px;
    }

    .mobileMenuButton {
        display: block;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }
}



@media screen and (min-width: 481px) and (max-width: 769px) {
    .navLinks {
        display: flex;
        align-items: flex-start;
        display: none;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        background-color: rgb(20, 18, 12);
        padding: 0px !important;
        z-index: 999;
    }

    .bookingLink{
        margin-left: 70px;
    }

    .navLinks.open {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .singleNavLink{
        margin-left: 70px;
    }

    .navbarSection{
        margin-left:  60px;
        margin-right: 60px;
    }

    .mobileMenuButton {
        display: block;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }
}

@media (min-width: 769px) and (max-width: 1279px){
    .navLinks {
        display: flex;
        align-items: flex-start;
        display: none;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        background-color: rgb(20, 18, 12);
        padding: 0px;
        z-index: 999;
    }

    .bookingLink{
        margin-left: 70px;
        padding: 5px;
    }

    .navLinks.open {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .singleNavLink{
        margin-left: 70px;
    }

    .navbarSection{
        margin-left: 70px;
        margin-right: 70px;
    }

    .mobileMenuButton {
        display: block;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 126px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }
}
