.header{
    background-color: rgb(20, 18, 12);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    opacity: 1;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(20, 18, 12);
    
}

.navbarSection{
    display:flex;
    flex-direction: row;
    margin-left: 91px ;
    margin-right: 91px ;
    height: 126px;
    overflow: hidden;
    justify-content: space-between;
}

.logo{
    display: flex;
    border-radius: inherit;
    object-fit: cover;
    align-items: center;

}

.logoImg{
    border-radius: inherit;
    object-position: center center !important;
    object-fit: cover;
    width: 166px !important;
    height: 84px !important;

}

.navLinks {
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    gap: 48px;
    justify-content: flex-start;
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.navLinks.open {
    display: block; 
    overflow-y: auto;
}

.singleNavLink:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.active{
    font-weight: 800;
}

.mobileMenuButton {
    display: none;
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white
}

.navLinksOpen {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navLinksOpen .singleNavLink {
    color: black; 
    padding: 10px 0;
}

@media (max-width: 767px) {

    .navbarSection{
        justify-content: space-between;
        margin-left: 50px ;
        margin-right: 50px ;
    }

    .mobileMenuButton {
        font-size: 2.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
    }

    .closeButton {
        position: absolute;
        top: 20px;
        right: 10px;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
        margin-right: 30px ;
    }

    .navLinksOpen {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0px;
        bottom: 0;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000; 
        overflow-y: auto; 
    }

    .navLinks {
        height: 100px;
        list-style: none;
        padding: 0;
        margin-top: 60px;
        color: white;
        margin-right: 10px; 
    }

    .singleNavLink {
        color: white;
        text-decoration: none;
        padding: 5px 0;
        font-size: 1.5rem;
        text-align: center; 
        display: block; 
    }

    .singleNavLink:hover {
        color: var(--primary-color);
        cursor: pointer;
    }

    
    .singleNavLink.active {
        font-weight: 800;
    }
} 

@media (min-width: 768px) and (max-width: 1024px) {
    
    .mobileMenuButton {
        font-size: 2.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
    }

    .navbarSection {
    display: flex;
    flex-direction: row;
    margin-left: 91px;
    margin-right: 91px;
    justify-content: space-between;
    align-items: center;
    }

    .closeButton {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
        margin-right: 50px ;
    }

    .navLinksOpen {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0px;
        bottom: 0;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000; 
        overflow-y: auto; 
    }

    .navLinks {
        height: 100px;
        list-style: none;
        padding: 0;
        margin-top: 60px;
        color: white;
        margin-right: 10px; 
    }

    .singleNavLink {
        color: white;
        text-decoration: none;
        padding: 5px 0;
        font-size: 1.5rem;
        text-align: center; 
        display: block; 
    }

    .singleNavLink:hover {
        color: var(--primary-color);
        cursor: pointer;
    }

    
    .singleNavLink.active {
        font-weight: 800;
    }
}